@import 'variables';

.page-layout.profile {
    .ant-divider {
        margin: 0;
    }
    .profile-header {
        padding: 12px 0;
        color: @c-dodger-blue;
        font-weight: bold;
    }
    .ant-alert {
        margin-bottom: 24px;
    }
    .ant-collapse {
        max-width: 450px;
        .ant-collapse-content > .ant-collapse-content-box {
            padding: 24px 0;
        }
    }
}