@import 'variables';

.page-layout.profile {
    .profile-header {
        border-top: 1px solid @c-alto;
        padding: 12px 0;
        color: @c-azure-radiance;
        font-weight: bold;
    }
    .ant-alert {
        margin-bottom: 24px;
    }
    .ant-collapse {
        max-width: 450px;
        .ant-collapse-content > .ant-collapse-content-box {
            padding: 24px 0;
        }
    }
}