.page-layout.profile {
    .section-header {
        text-align: left;
    }
    .ant-alert {
        margin-bottom: 24px;
    }
    .ant-collapse {
        max-width: 450px;
        .ant-collapse-content > .ant-collapse-content-box {
            padding: 24px 0;
        }
    }
}