@import 'base/variables';

.page-layout.signup {
    padding: 60px 15px;
    .logo {
        margin-bottom: 60px;
    }
    .ant-alert {
        text-align: center;
        max-width: 350px;
        margin: 0 auto 24px;
        padding-right: 16px;
    }
    .signup-form {
        max-width: 350px;
        margin: 0 auto;
    }
}