.logo {
    text-align: center;
    a {
        @color: #108ee9;
        display: inline-block;
        height: 28px;
        font-size: 0;
        color: @color;
        span {
            display: inline-block;
            height: 100%;
            color: @color;
            font-size: 20px;
            line-height: 28px;
            &:first-child {
                width: 28px;
                background-color: @color;
                color: white;
                border-radius: 6px;
                margin-right: 2px;
                text-align: center;
            }
        }
    }
}