@import 'base/variables.less';

.logo {
    text-align: center;
    a {
        display: inline-block;
        height: 28px;
        font-size: 0;
        span {
            display: inline-block;
            height: 100%;
            color: @c-azure-radiance;
            font-size: 20px;
            line-height: 28px;
            &:first-child {
                width: 28px;
                background-color: @c-azure-radiance;
                color: white;
                border-radius: 6px;
                margin-right: 2px;
                text-align: center;
            }
        }
    }
}