@import 'variables';

.spendings-list {
    position: relative;
    .spendings-add {
        position: absolute;
        top: 0;
        right: 0;
    }
    .spendings-total-sum {
        margin: 8px 0 16px;
        span {
            color: @c-dodger-blue;
        }
    }
}