@import 'variables';

.spendings-list {
    position: relative;
    .spendings-filter {
        padding-right: 100px;
        .ant-calendar-picker {
            width: 220px;
            margin-left: 8px;
        }
    }
    .spendings-add {
        position: absolute;
        top: 0;
        right: 0;
    }
}

.spending-edit {
    .ant-modal-body {
        padding: 24px;
    }
    .ant-alert {
        max-width: 300px;
        margin: 0 auto 24px;
    }
    .ant-form {
        max-width: 300px;
        margin: 0 auto;
    }
    .spending-items-list {
        margin-bottom: 0;
        .ant-form-item-control {
            max-width: 300px;
        }
        ul li {
            position: relative;
            padding-right: 26px;
            .ant-input-group {
                .ant-input {
                    width: 60%;
                }
                .ant-input-number {
                    margin-top: 0;
                    margin-right: 0;
                    width: 40%;
                }
            }
            .spending-item-delete {
                position: absolute;
                top: 6px;
                right: 0;
                &:hover {
                    cursor: pointer;
                    color: @c-azure-radiance;
                }
            }
        }
    }
}

.spendings-table {
    margin-top: 24px;
    .ant-table-placeholder {
        padding: 10px;
    }
    .spending-items-table {
        max-width: 500px;
        .ant-table-placeholder {
            padding: 8px;
        }
    }
}